.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  /* ниже прописывется position:relative для возможности расополагать все элементы (кроме title) посредством position:absolute */
  position: relative;
  /* ниже прописывется display:flex и align-items: center для возможности центрировать элемент title посредством флекс контейнера
  (т.к. это единственный элемент секции без абсолютного позиционирования) */
  display: flex;
  align-items: center;
  /* ниже устанавливается отступ слева в 64px, т.к. логотип, заголовок и подзаголовок на 64 пикселя правее левого края  */
  padding-left: 64px;
  /* ниже применяется overflow:hidden для того, чтобы синий квадрат не выходил за пределы header когда окно браузера сужается по вертикали */
  overflow: hidden;
}
