.kaufman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0;
  background-color: #1f1f1f;
  z-index: 1;
  /* ниже прописывется  position:relative для возможности расоположить треугольник посредством absolute */
  position: relative;
  /* ниже применяется overflow:hidden для того, чтобы синий треугольник не выходил за пределы секции */
  overflow: hidden;
}
