.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  /* ниже прописывется position:relative для возможности расополагать все элементы (кроме title) посредством position:absolute */
  position: relative;
  /* ниже прописывется display:flex и align-items: center для возможности центрировать элемент title посредством флекс контейнера
  (т.к. это единственный элемент секции без абсолютного позиционирования) */
  display: flex;
  align-items: center;
  /* ниже устанавливается отступ слева в 64px, т.к. логотип, заголовок и подзаголовок на 64 пикселя правее левого края  */
  padding-left: 64px;
  /* ниже применяется overflow:hidden для того, чтобы синий квадрат не выходил за пределы header когда окно браузера сужается по вертикали */
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 4;
}

.header__title {
  max-width: 730px;
  width: 100%;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  z-index: 3;
}

.header__subtitle {
  max-width: 388px;
  width: 100%;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover{
  color: #f00;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  object-fit: fill;
  object-position: right bottom;
}

.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

/* ниже начинается секция description */
.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  width: 100%;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragrph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

/* ниже завершающему колонку абзацу присваивается псевдокласс last-of-type для обнуления нижнего отступа в 30px */
.two-columns__paragrph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: dashed;
}

/* ниже начинается секция digits */
.digits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table {
  max-width: 1100px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.table__cell {
  max-width: 250px;
  width:100%;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/* ниже начинается секция feynman */
.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  /* ниже устанавливаются условия для возможности расположить заголовок и подзаголовок в колонку по центру секции */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ниже прописывется position:relative для возможности расоположить ссылку посредством absolute */
  position: relative;
  /* ниже установливается ЧБ фото Ричарда Фейнмана в качестве фонового изображения */
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: left bottom;
}

.feynman__title {
  max-width: 648px;
  width: 100%;
  margin: 100px 0 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px 0 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__link:hover{
  color: #f00;
}

/* ниже начинается секция kaufman */
.kaufman {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0;
  background-color: #1f1f1f;
  /* ниже прописывется  position:relative для возможности расоположить треугольник посредством absolute */
  position: relative;
  /* ниже применяется overflow:hidden для того, чтобы синий треугольник не выходил за пределы секции */
  overflow: hidden;
}

/* данный класс ниже с модификатором theme_dark меняет ширину ячеек таблицы на 200px, меняет отступ между строкаим таблицы на 80px */
.section-title_theme_dark{
  color: #fff;
}

.section-subtitle_theme_dark{
  color: #fff;
}

.table_theme_dark{
  color: #fff;
  z-index: 1;
}

.table__cell_theme_dark {
  max-width: 200px;
  width: 100%;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size:contain;
  /* ниже прописывется z-index со значением меньше 0 для того, чтобы синий треугольник не перекрывал другие элементы секции */
  z-index: 0;
  position: absolute;
  top: 0;
  right: -210px;
}

/* ниже начинается footer */
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
  color: #fff;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

/* ниже задаётся модификатор для логотипа, помещённого в footer */
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
}

.footer__author {
  display: flex;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer__column-link:hover{
  color: #0f0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  display: flex;
  margin-right: 10px;
}
